.aboutme {
  /* border: solid 16px grey; */
  padding: 50px 0px 50px 0px;
  font-size: 20px;
  height: 100vh;
  background-image: url('../media/aboutme-bg.jpg');
  color: white;
}
.test {
  padding-top: 20%;
}
.aboutme .aboutme-hdr {
  font-size: 40px;
}

.aboutme .aboutme-descrip {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
