.banner {
  display:flex;
  flex-direction: row;
  height: 100vh;
  background-image: url('../media/banner-bg.jpg');
  background-position: center;
  background-size: cover;
}

.banner .banner-summary {
  display: flex;
  justify-content: center;

}

.blur-backdrop {
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.banner .banner-summary .summary {
  text-align: center;
  color: rgb(255, 255, 255);
}

.banner .banner-summary .summary h1 {
  font-size: 42px;
}

.banner .banner-summary .summary p {
  font-size: 38px;
  font-family: 'Consolas', monospace;
  display: inline;
}

.banner-summary .logo {
  background-image: url('../media/nintendo-switch.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
