.banner {
  display:flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 60px;
}

.banner .banner-summary {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 20%;
}

.banner .banner-summary .summary h1 {
  font-size: 36px;
}

.banner .banner-summary .summary p {
  font-size: 20px;
  font-family: 'Consolas', monospace;
  display: inline;
}

.banner-summary .logo {
  background-image: url('../media/nintendo-switch.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
