h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  text-align: center;
}

.home h1 {

}

.summary-container {
  display:grid;
  grid-template-rows: 40px 20% 40px;
  grid-template-columns: 10% 25% auto 25% 10%;
  width: 100%;
}

.summary-container .logo-summary {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.logo-summary .logo {
  background-image: url('../media/nintendo-switch.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
}
