.navbar, .navbar-fixed {
  display: flex;
  flex-direction: row;
  background-color: #606060;

}

.navbar ul, .navbar-fixed ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li,
.navbar-fixed li {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar li:hover,
.navbar-fixed li:hover {
  background: #333333;
}

.navbar li, .navbar-fixed li {
  transition: all 0.25s ease-in;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .nav_elmnt, .navbar-fixed .nav_elmnt {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
}
