#about-me {
    padding-left: 2rem;
    padding-right: 2rem;
}

#about-me .title {
    font-size: 4rem;
    font-weight: 300;
}

#about-me-content {
    padding-left: 3em;
    margin-right: 55%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#about-me-content .about-me-section {
    font-size: 24px;
    padding-bottom: 3rem;
}
