#about-me {
    
    padding-left: 2rem;
    padding-right: 2rem;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

#about-me-content {
    padding-left: 3em;
    margin-right: 55%;
    
}

#about-me-content .about-me-section {
    font-size: 24px;
    padding-bottom: 3rem;
}
