html {
    font-family: 'IBM Plex Sans',ibm-plex-sans,'Helvetica Neue',Arial,sans-serif;
}

body {
    margin: 0;
}

#content-container {
    margin: 0;
}

#navbar {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    background-color: darkgrey;
    /* position: fixed; */
}

#navbar .home-btn {
    width: 75px;
    height: 75px;
    background-image: url('../media/WebsiteLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar a {
    text-decoration: none;
    padding: .5rem 2rem .5rem 2rem;
    display: flex;
    align-items: center;
}

#navbar a:link {
    color: black;
}

#navbar a:visited {
    color: black;
}

#navbar a:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

#navbar a:hover .home-btn {
    filter: invert(1);
}
