#resume {
    padding: 20px;
}

.main-header {
    font-size: 4rem;
    font-weight: 300;
}

.resume-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0 7% 3.5rem
}

.contact-me {
    margin-left: 3.5rem;
}

.work-experience {
    width: 40%;
}

.work-experience .role {
    font-size: 28px;
}

.work-experience .location {
    font-size: 18px;
    margin-top: 0px;
}