#skills {

}

#skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-icon {
    background-size: cover;
    width: 300px;
    height: 300px;
}

#ue4 {
    background-image: url('../media/UE_Logo_Icon_Black.png');
}

#web-dev {
    background-image: url('../media/code.png');
}

.skills-caption {
    font-size: 1.5rem;
    position: relative;
    top: 92%;
    text-align: center;
}