body, html {
    height: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  color : black;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

#navbar .navbar-brand {
  padding-left: 5px;
}

#banner {
  min-height: 100%;
  /* background-image: url('../media/banner-bg.jpg'); */
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom right,  rgba(50, 50, 50, 1), rgba(220, 66, 37, 0.7)), url("../media/banner-bg.jpg");
  color: rgb(244, 244, 244);
}

.banner-text {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.banner-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: lighter;

}

.about-me {
  display: flex;
}

.about-me .image {
  background-image: url("../media/aboutme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.navbar-right {
  display : flex;
}

.navbar-right .section {
  padding: 6px;
}

#resume {
  margin: 20px;
  padding: 20px;
}

.resume-entry {
  margin: 20px;
}

/* .resume-entry .logo {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
} */

.resume-entry #a8 {
  background-image: url('../media/A8.jpg');
}

.resume-entry ul {
  grid-column-start: 1;
}

@media screen and (max-width: 767px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-me .image {
    height: 200px;
    width: 100%;
  }

  .banner-text {
    padding-left: 20%;
    padding-right: 20%;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
  }

  .banner-text h1 {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 70px;
    /* font-weight: bold; */
  }

  .resume-entry .content {
    display: flex;
    flex-direction: column;
  }

  .resume-entry .content .logo {
    width: 70%;
    height: 225px;
    margin: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

}

/*Desktop styling*/
@media screen and (min-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .resume-entry .content {
    display: grid;
    grid-template-columns: 75% auto 20%;
    grid-template-rows: 275px;
  }

  .resume-entry .content .logo {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-column-start: 3;
  }

  #contact .contact-header {
    text-align: center;
  }
}
