body, html {
    height: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  color : black;
  padding: 10px;
  margin: 5px;
}

#navbar .navbar-brand {
  padding-left: 5px;
}

#banner {
  min-height: 100%;
  /* background-image: url('../media/banner-bg.jpg'); */
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom right,  rgba(50, 50, 50, 1), rgba(220, 66, 37, 0.7)), url("../media/banner-bg.jpg");
}

.banner-text {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.banner-text h1 {
  font-size: 90px;
  color: rgb(214, 214, 214);
}

.navbar-right {
  display : flex;
}

.navbar-right .section {
  padding: 6px;
}
