body, html {
    height: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  color : black;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

#navbar .navbar-brand {
  padding-left: 5px;
}

#banner {
  min-height: 100%;
  /* background-image: url('../media/banner-bg.jpg'); */
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom right,  rgba(50, 50, 50, 1), rgba(220, 66, 37, 0.7)), url("../media/banner-bg.jpg");
  color: rgb(244, 244, 244);
}

.banner-text {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.banner-text h1 {
  font-family: 'Tajawal', sans-serif;
  font-size: 90px;
  font-weight: bold;

}

.about-me {
  display: flex;
  justify-content: space-around;
}

.about-me .image {
  background-image: url("../media/aboutme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.navbar-right {
  display : flex;
}

.navbar-right .section {
  padding: 6px;
}
